.header-form {
  width: 368px;
  height: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 31.4px;
  letter-spacing: 0.6px;
  margin: 168px 96px 0 96px;
  color: #202225;
}

.form-sign-up__input {
  width: 368px;
  margin: 40px 96px 0 96px;
  border: 1px solid #dce0ec;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
  padding: 16px 63px;
  color: #202225;
}

.form-sign-up__input,
.form-sign-up__button {
  height: 56px;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.form-sign-up__input:focus {
  border-color: #7297ff;
  outline: none;
}

.form-sign-up__input::placeholder {
  color: #a1abc9;
}

.form-sign-up__input_image_name {
  background: url(/pages/assets/images/name.svg) no-repeat bottom 17px left 25px
    #ffffff;
}
.form-sign-up__input_image_email {
  background: url(/pages/assets/images/email.svg) no-repeat bottom 15px left
    23.4px #ffffff;
}
.form-sign-up__input_image_password {
  background: url(/pages/assets/images/eye-slash.svg) no-repeat bottom 16px
      right 24px,
    url(/pages/assets/images/password.svg) no-repeat bottom 17px left 27px
      #ffffff;
}
.form-sign-up__input_image_confirm-password {
  background: url(/pages/assets/images/eye-slash.svg) no-repeat bottom 16px
      right 24px,
    url(/pages/assets/images/confirm-password.svg) no-repeat bottom 21px left
      28px #ffffff;
}

.form-sign-up__button {
  width: 146px;
  padding: 16px 56px 16px 24px;
  margin: 64px 0 0 96px;
  color: #ffffff;
  border: none;
  letter-spacing: 0.3px;
  line-height: 24px;
  font-weight: 600;
  background: url(/pages/assets/images/angle-right-b.svg) no-repeat bottom 16px
    right 24px #7297ff;
}

.sign-in {
  display: flex;
  margin: 120px 202px 80px 96px;
  font-size: 15px;
  color: #a1abc9;
}

.sign-in__redirect {
  letter-spacing: 0.3px;
  margin-left: 14px;
  font-weight: 600;
  color: #7297ff;
}

@media (min-width: 0) and (max-width: 599px) {
  section {
    margin-top: -49%;
  }

  .header-form {
    width: 80%;
    font-size: 20px;
    margin: 10.5% 10% 0 10%;
  }

  .form-sign-up__input {
    width: 80%;
    height: 40px;
    margin: 7.35% 10% 0 10%;
    padding: 16px 47px;
  }

  .form-sign-up__input,
  .form-sign-up__button {
    font-size: 15px;
  }

  .form-sign-up__input_image_name {
    background: url(/pages/assets/images/name.svg) no-repeat bottom 9px left
      17px #ffffff;
  }
  .form-sign-up__input_image_email {
    background: url(/pages/assets/images/email.svg) no-repeat bottom 7px left
      15.4px #ffffff;
  }
  .form-sign-up__input_image_password {
    background: url(/pages/assets/images/eye-slash.svg) no-repeat bottom 8px
        right 16px,
      url(/pages/assets/images/password.svg) no-repeat bottom 9px left 19px
        #ffffff;
  }
  .form-sign-up__input_image_confirm-password {
    background: url(/pages/assets/images/eye-slash.svg) no-repeat bottom 8px
        right 16px,
      url(/pages/assets/images/confirm-password.svg) no-repeat bottom 13px left
        19px #ffffff;
  }

  .form-sign-up__button {
    width: 122px;
    height: 48px;
    padding: 14.5px 48px 14.5px 16px;
    margin: 10.4% 0 0 10%;
    line-height: 19.5px;
    background: url(/pages/assets/images/angle-right-b.svg) no-repeat bottom
      12px right 16px #7297ff;
  }

  .sign-in {
    flex-direction: column;
    margin: 22.8% 0 0 10%;
  }

  .sign-in__redirect {
    margin-left: 0;
  }
}
