.header {
  width: 368px;
  /* margin: 264px 96px 0 96px; */
  margin: 47% 96px 0 96px;
}

.header__restore-password {
  height: 32px;
  line-height: 31.4px;
  letter-spacing: 0.4px;
  color: #202225;
}

.header__restore-password a {
  content: url(../../assets/images/angle-left-b.svg);
  margin-right: 16px;
  vertical-align: -4px;
}

.header__text {
  margin-top: 32px;
  font-size: 15px;
  line-height: 19.5px;
  color: #a1abc9;
}

.form__input {
  width: 368px;
  margin: 40px 96px 0 96px;
  border: 1px solid #dce0ec;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
  padding: 16px 63px;
  color: #202225;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__input,
.form__button {
  height: 56px;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.form__input:focus {
  border-color: #7297ff;
  outline: none;
}

.form__input::placeholder {
  color: #a1abc9;
}

.form__input_image_email {
  background: url(../../assets/images/email.svg) no-repeat bottom 15px left
    23.4px #ffffff;
}

/* это для валидации */

.form__validate {
  position: relative;
}

.form__validate.error input {
  border: 1px solid #ff2567;
}

.form__error-message {
  position: absolute;
  left: -9999999px;
}
.form__validate.error .form__error-message {
  /* position: relative;
  width: 368px;
  left: 96px;
  top: 8px; */
  position: static;
  padding: 8px 96px 0 96px;
  color: #f6657f;
  font-size: 13px;
  letter-spacing: -0.24px;
}

/*  */

.form__button {
  width: 214px;
  padding: 16px 56px 16px 24px;
  margin: 64px 0 0 96px;
  color: #ffffff;
  border: none;
  letter-spacing: 0.3px;
  line-height: 24px;
  font-weight: 600;
  background: url(../../assets/images/angle-right-b.svg) no-repeat bottom 16px
    right 24px #7297ff;
}

@media (min-width: 0) and (max-width: 599px) {
  .bg-image {
    background-size: contain;
  }

  section {
    margin-top: -103.9%;
  }

  .header {
    width: 83%;
    margin: 10.5% 0 0 10%;
  }

  .header__restore-password {
    font-size: 125%;
  }

  .header__restore-password a {
    vertical-align: -5px;
  }

  .header__text {
    margin-top: 9%;
    padding-right: 10px;
    font-size: 94%;
  }

  .form__input {
    width: 80%;
    height: 40px;
    font-size: 15px;
    margin: 7.2% 10% 0 10%;
    padding: 16px 47px;
  }

  .form__input_image_email {
    background: url(../../assets/images/email.svg) no-repeat bottom 7px left
      15.4px #ffffff;
  }

  /* это для валидации */

  .form__validate.error .form__error-message {
    /* width: 80%;
    left: 10%;
    top: 17px; */
    padding: 5% 10% 0 10%;
    line-height: 130%;
  }

  /*  */

  .form__button {
    width: 198px;
    height: 48px;
    padding: 14.5px 48px 14.5px 16px;
    margin: 10% 0 0 10%;
    line-height: 19.5px;
    background: url(../../assets/images/angle-right-b.svg) no-repeat bottom 12px
      right 16px #7297ff;
  }
}
